<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.4/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        displayDetailsOnTestsThatTriggerDeprecations="true"
        displayDetailsOnPhpunitDeprecations="true"
        cacheDirectory=".phpunit.cache"
        stopOnFailure="false"
>

    <testsuites>
        <testsuite name="Unit tests for waystone/workspaces">
            <directory suffix="Test.php">workspaces/tests/</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">workspaces/src/</directory>
        </include>
    </source>

    <php>
        <!-- MySQL -->
        <const name="UNITTESTING_MYSQL_HOST" value="localhost" />
        <const name="UNITTESTING_MYSQL_USERNAME" value="root" />
        <const name="UNITTESTING_MYSQL_PASSWORD" value="" />
        <const name="UNITTESTING_MYSQL_DATABASE" value="obsidian" />
        <const name="UNITTESTING_MYSQL_TABLE" value="collections_unittesting" />

        <!-- SQLite -->
        <const name="UNITTESTING_SQLITE_FILE" value="/tmp/collections.db" />

        <!-- MongoDB -->
        <const name="UNITTESTING_MONGODB_HOST" value="localhost" />
        <const name="UNITTESTING_MONGODB_PORT" value="27017" />
        <const name="UNITTESTING_MONGODB_SSL" value="true" />

        <!-- FilesCollection -->
        <const name="UNITTESTING_FILESCOLLECTION_PATH" value="/tmp/obsidiancollections" />
    </php>
</phpunit>
